<div class="card">
    <h5 class="card-header">Add Booking</h5>
    <div class="card-body">
        <form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
            <div class="row" *ngIf="formTemplate.length>0">
                <div *ngFor="let form_elem of formTemplate" [class]="form_elem.class" class="mb-1">
                    <div [ngSwitch]="form_elem.element_type">
                        <div *ngSwitchCase="'textBox'">
                            <label for="form_elem.name" class="form-label">{{form_elem.label}}</label>
                            <input
                            [type]="form_elem.type"
                            [formControlName]="form_elem.name"
                            class="form-control"
                            [placeholder]="form_elem.placeholder"
                            id="form_elem.name"
                            [autocomplete]="'off'"
                            value="" [minlength]="form_elem.minLength"
                            [maxlength]="form_elem.maxLength"
                            [required]="form_elem.required"
                            [ngClass]="{ 'is-invalid': submitted && getFC(form_elem.name).errors }"
                            >
                            <div *ngIf="submitted && getFC(form_elem.name).errors" class="invalid-feedback">
                                <div *ngIf="getFC(form_elem.name).errors.required">{{form_elem.label}} is required</div>
                                <div *ngIf="getFC(form_elem.name).errors.minlength"> Min length {{form_elem.minLength}} is required</div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'select'">
                            <label for="form_elem.name" class="form-label">{{form_elem.label}}</label>
                            <select class="form-select" [formControlName]="form_elem.name" id="form_elem.name" value=""
                                [required]="form_elem.required"
                                [ngClass]="{ 'is-invalid': submitted && getFC(form_elem.name).errors }"
                                >
                                <option selected disabled value=""></option>
                                <option *ngFor="let opt of form_elem.options">{{opt}}</option>
                            </select>
                            <div *ngIf="submitted && getFC(form_elem.name).errors" class="invalid-feedback">
                                <div *ngIf="getFC(form_elem.name).errors.required">{{form_elem.label}} is required</div>
                            </div>
                        </div>
                        <div *ngSwitchCase="'checkbox'">
                            <input type="checkbox" [formControlName]="form_elem.name" class="form-check-input"
                            id="form_elem.name" 
                            [ngClass]="{ 'is-invalid': submitted && getFC(form_elem.name).errors }">                               
                            <label for="form_elem.name" class="form-label mx-2">{{form_elem.label}}</label>
                            <div *ngIf="submitted && getFC(form_elem.name).errors" class="invalid-feedback">
                                <div *ngIf="getFC(form_elem.name).errors.required">{{form_elem.label}} is required</div>
                            </div>
                        </div>

                        <div *ngSwitchCase="'radio'">
                            <input type="radio" [formControlName]="form_elem.name" class="form-check-input"
                            id="form_elem.value"  [value]="form_elem.value"  [required]="form_elem.required"
                            [ngClass]="{ 'is-invalid': submitted && getFC(form_elem.name).errors }">                               
                            <label for="form_elem.name" class="form-label mx-2">{{form_elem.label}}</label>
                            <div *ngIf="submitted && getFC(form_elem.name).errors" class="invalid-feedback">
                                <div *ngIf="getFC(form_elem.name).errors.required">{{form_elem.label}} is required</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 mt-4">
                    <button class="btn btn-primary pr-3" type="submit">Submit form</button>
                    <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>